name: |-
  CD - Deploy to ECS with Ecspresso
  
  Deploy Docker image to ECS with Ecspresso
  
  ### Usage 
  
  ```yaml
    name: Deploy
    on:
      push:
        branches: [ main ]
  
    jobs:
      cd:
        uses: cloudposse/github-actions-workflows/.github/workflows/cd-ecspresso.yml@main
        with:
          image: registry.hub.docker.com/library/nginx
          tag: latest
          repository: $\{\{ github.event.repository.name \}\}
          environment: dev
          spacelift-organization: $\{\{ inputs.spacelift-organization \}\}
        secrets:
          secret-outputs-passphrase: "$\{\{ secrets.secret-outputs-passphrase \}\}"
          github-private-actions-pat: "$\{\{ secrets.github-private-actions-pat \}\}"
          spacelift-api-key-id: "$\{\{ secrets.spacelift-api-key-id \}\}"
          spacelift-api-key-secret: "$\{\{ secrets.spacelift-api-key-secret \}\}"
  ```

on:
  workflow_call:
    inputs:
      image:
        description: "Docker Image to deploy"
        required: true
        type: string
      tag:
        description: "Docker Image tag to deploy"
        required: true
        type: string
      repository:
        description: "Repository name (ex. example for repo acme/example)"
        required: true
        type: string
      app:
        description: "Application name. Used with monorepo pattern when there are several applications in the repo"
        required: false
        type: string
      environment:
        description: "Environment name deploy to"
        type: string
        required: true
      matrix-step-name:
        description: "Matrix step name - matrix output workaround. [Read more](https://github.com/cloudposse/github-action-matrix-outputs-write#introduction)"
        required: false
        type: string
      matrix-key:
        description: "Matrix key - matrix output workaround. [Read more](https://github.com/cloudposse/github-action-matrix-outputs-write#introduction)"
        required: false
        type: string
    secrets:
      secret-outputs-passphrase:
        description: "Passphrase to encrypt/decrypt secret outputs with gpg. For more information [read](https://github.com/cloudposse/github-action-secret-outputs)"
        required: true
      github-private-actions-pat:
        description: "Github PAT allow to pull private repos"
        required: true

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.environment }}
      url: ${{ steps.deploy.outputs.webapp-url }}
    steps:
      - uses: cloudposse/github-action-secret-outputs@0.1.1
        id: image
        with:
          secret: ${{ secrets.secret-outputs-passphrase }}
          op: decode
          in: ${{ inputs.image }}

      - name: Checkout
        uses: actions/checkout@v3

      - name: Environment Info
        uses: cloudposse/github-action-interface-environment@0.2.0
        id: environment
        with:
          implementation_repository: cloudposse/actions-private
          implementation_path: 'ecspresso-environments'
          implementation_ref: main
          implementation_github_pat: ${{ secrets.github-private-actions-pat }}
          environment: ${{ inputs.environment }}
          namespace: ${{ inputs.environment }}
          repository: ${{ inputs.repository }}
          application: ${{ inputs.app }}

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2.1.0
        with:
          aws-region: ${{ steps.environment.outputs.region }}
          role-to-assume: ${{ steps.environment.outputs.role }}-gha
          role-skip-session-tagging: true

      - name: Deploy
        uses: cloudposse/github-action-deploy-ecspresso@0.2.0
        id: deploy
        with:
          image: ${{ steps.image.outputs.out }}
          image-tag: ${{ inputs.tag }}
          region: ${{ steps.environment.outputs.region }}
          operation: deploy
          debug: false
          cluster: ${{ steps.environment.outputs.cluster }}
          application: ${{ steps.environment.outputs.name }}
          taskdef-path: ./deploy/taskdef.json
        env:
          ECS_SERVICE_NAME: ${{ steps.environment.outputs.name }}
          ECS_SERVICE_TASK_ROLE: ${{ steps.environment.outputs.role }}-task
          ECS_SERVICE_EXECUTION_ROLE: ${{ steps.environment.outputs.role }}-exec