name: Dockerized Appication - Main branch
on:
  workflow_call:
    inputs:
      organization:
        required: true
        type: string
      repository:
        required: true
        type: string
      spacelift-organization:
        description: "Spacelift organization"
        type: string
        required: true
      default_branch:
        description: "Default branch in the repo"
        required: true
        type: string
        default: main
    secrets:
      secret-outputs-passphrase:
        description: "Passphrase for secret outputs"
        required: true
      registry:
        description: "Docker registry"
        required: true
      github-private-actions-pat:
        required: true
      spacelift-api-key-id:
        required: true
      spacelift-api-key-secret:
        required: true

permissions:
  contents: write
  id-token: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  ci:
    uses: cloudposse/github-actions-workflows/.github/workflows/ci-dockerized-app.yml@deploy-ecs
    with:
      organization: ${{ inputs.organization }}
      repository: ${{ inputs.repository }}
    secrets:
      registry: "${{ secrets.registry }}"
      secret-outputs-passphrase: "${{ secrets.secret-outputs-passphrase }}"

  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Get Previous tag
        id: previoustag
        shell: sh
        run: |
          git fetch --tags --force
          git describe --always --tags --abbrev=0 ${{ github.sha }}
          VERSION=$(git describe --always --tags --abbrev=0  ${{ github.sha }})
          echo "::set-output name=version::${VERSION}"

      - name: Get next minor version
        id: semvers
        uses: "WyriHaximus/github-action-next-semvers@v1"
        with:
          version: ${{ steps.previoustag.outputs.version }}

      - name: Create release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ steps.semvers.outputs.patch }}
          commit: ${{ github.sha }}
          generateReleaseNotes: true
          token: ${{ github.token }}

    outputs:
      version: ${{ steps.semvers.outputs.patch }}

  promote:
    runs-on: ["self-hosted"]
    needs: [ release, ci ]
    permissions:
      contents: write
    steps:
      - uses: cloudposse/github-action-secret-outputs@0.1.0
        id: image
        with:
          secret: ${{ secrets.secret-outputs-passphrase }}
          op: decode
          in: ${{ needs.ci.outputs.image }}

      - name: Checkout
        uses: actions/checkout@v3

      - name: Login
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.registry }}

      - name: Promote Docker image
        uses: EuphoricSystems/docker-promote-image@1.0.0
        with:
          src: ${{ jobs.image.outputs.out }}:${{ needs.ci.outputs.tag }}
          destinations: ${{ jobs.image.outputs.out }}:${{ needs.release.outputs.version }}

    outputs:
      image: ${{ needs.ci.outputs.image }}
      tag: ${{ needs.release.outputs.version }}

  reintegrate:
    runs-on: ubuntu-latest
    needs: [ release, promote ]
    permissions:
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Create reingtegration PR
        uses: devops-infra/action-pull-request@v0.4.2
        with:
          github_token: ${{ secrets.github-private-actions-pat }}
          target_branch: ${{ inputs.default_branch }}
          title: Reintegrate ${{ needs.release.outputs.version }} hotfix into main branch
          template: .github/REINTEGRATE_PULL_REQUEST_TEMPLATE.md
          get_diff: true
